<!doctype html>

 <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/submitted';}"></iframe>

<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSfSuWKSaxrQD6apOEnkg8VaMyJ8yrCJm1X2sJvQNaSaKo7hyA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">

      <label>Calavera</label>
      <input name="entry.1021227875" type="text" required />
      <br><br>
      <label>Name</label>
      <input name="entry.1529853194" type="text" />
      <br><br>
      <label>Agency</label>
      <input name="entry.1738070244" type="text" />
      <br><br>
      <input type="submit" value="Send" />

</form>
